.App {
  text-align: center;
}

body {
  margin: 0px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.authPage {
  display: flex;
  flex: 1;
  background: rgb(244, 245, 247);
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  padding: 0;
  margin: 0;
  flex-direction: column;
  &:before {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    content: "";
    z-index: 0;
  }
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px;
  flex: 1;
  background-color: white;
}
.padding {
  padding: 24px;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
}
.box {
  width: 100%;
  height: 52px;
  // margin: 0px 24px;
  border-radius: 26px;
  // background-color: #48aff0;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  // flex: 1;
  justify-content: center;
  cursor: pointer;
}
.flex {
  flex: 1;
}
.rightarrow {
  height: 2px;
  flex: 1;
  background-color: #48aff0;
}
.leftarrow {
  height: 2px;
  flex: 1;
  background-color: #48aff0;
}
.title {
  width: 72px;
  height: 52px;
  text-align: center;
  // margin: 0px 24px;
  line-height: 52px;
  background-color: #48aff0;
  border-radius: 26px;
  color: white;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    -moz-box-shadow: 0 0 10px #2b525066;
    -webkit-box-shadow: 0 0 10px #2b525066;
    box-shadow: 0 0 10px #2b525066;
  }
}

#title .expand {
  // visibility: hidden;
  display: none;
}
#title:hover .expand {
  // visibility: visible;
  display: flex;
}
.children {
  display: flex;
  width: 100%;
}
.bottomTriangle {
  border-top: 6px solid #48aff0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 0;
}
.topTriangle {
  border-bottom: 6px solid #48aff0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 0;
}
.leftTriangle {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 6px solid #48aff0;
  height: 0;
  width: 0;
}
.rightTriangle {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 6px solid #48aff0;
  height: 0;
  width: 0;
}
.arrow {
  height: 2px;
  background-color: #48aff0;
  width: 50%;
}
.arrowVer {
  height: 26px;
  width: 2px;
  background-color: #48aff0;
  margin-bottom: -26px;
}
.expand {
  align-items: center;
  display: flex;
  width: 32px;
}
.width {
  width: 32px;
}

.top {
  margin-top: 8px;
}
